.flex{
    display: flex;
    justify-content: center;
}
button{
    margin: 10;
    background-image: linear-gradient( rgb(136, 6, 6), rgb(145, 9, 133));
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: 0.3s;
    border: 2px solid black;
    padding: 3px;
}
body{
    background-image: linear-gradient(aqua, rgba(0, 128, 0, 0.678));
}
button:hover{
    padding: 5px;
    border-radius: 10%;
    background-image: linear-gradient( rgb(180, 7, 151), rgb(185, 8, 8));
}