@font-face {
    font-family: 'Outer Wilds';
    src: url('Fonts/ITC\ Serif\ Gothic\ Std\ Extra\ Bold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

html{
    font-family: 'Outer Wilds';
}


.setinha_esq{
    opacity: 0;
    visibility: hidden;
   transition: 0.3s;
   position: absolute;
   transform: translateX(-50px) scaleX(-1);
}
.setinha_dir{
    opacity: 0;
    visibility: hidden;
   transition: 0.3s;
   position: absolute;
   transform: translateX(420px);

}

.botao{
    display: flex;
}

.botao:hover .setinha_esq{
    opacity: 1;
    visibility: visible;
}
.botao:hover .setinha_dir{
    opacity: 1;
    visibility: visible;
}

h1{
    color: darkorange;
    font-size: 35;
}
h2{
    color: darkorange;
}

.flex{
    display: flex;
    margin-left: 15%;
    margin-top: 5%;
    gap: 10px;
}

button{
    margin: 8;
    font-size: 20;
    color: rgb(238, 135, 17);
    transition: 0.3s;
    background-color: transparent;
    font-family: 'Outer Wilds';
    border: none;
    cursor: pointer;
}
body{
    background-image: url(Images/fundo_outer.png);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Outer Wilds';
}
button:hover{
   color: white;
}

